/*Variables*/
$font-text: 'Hammersmith One', sans-serif;
$font-header: 'Marck Script', cursive;

$color-main: black;
$color-light: #777777;
$color-icons: #fed136;

$transition: all 1s;


/*Global*/
*, *::before, *::after {
        box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background: #fff;
    font-family: $font-text;
    color: $color-light;
    font-size: 18px;
}

.container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

.section-title {
    font-size: 60px;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 63px auto 0 auto;
    padding: 19px 51px 17px 53px;
    font-family: $font-text;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid $color-icons;
    background: $color-icons;
    color: white;
    transition: $transition;
    font-size: 20px;
      &:hover {
        color: black;
      }
}

.section-title {
  font-family: $font-text;
  color: $color-main;
  font-size: 40px;
}

p {
  font-family: $font-header;
  color: $color-light;
}
/*Navigation splash*/
nav {
  width: 1200px;
  margin: 20px;
}
nav ul {
    padding: 0;
    margin: 0;
    list-type-style: none;
    float: right;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
     &:hover {
         color: $color-icons;
         text-decoration: none;
     }
}

/*Splash*/
.splash {
    height: 700px;
    color: #fff;
    position: relative;
    background-image: url('https://i.postimg.cc/tgNgJwrX/Background-Image.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}

.splash-inner {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

.page-title {
    color: #ffffff;
    font-size: 70px;
    font-family: $font-header;
    font-weight: 100;
}

.page-subtitle {
    color: #ffffff;
    font-size: 100px;
    font-family: $font-text;
    font-weight: 400;
}
